{% extends "base.html" %}
{% block title %}
  | Login
{% endblock %}

{% block content %}
<div class="container p-3">
  <h3>Login</h3>
  {% if error %}
      <div class="alert alert-danger col-md-4 mb-3" role="alert">{{error}}</div>
  {% endif %}
    <form method="post">
      {% csrf_token %}
        <div class="col-md-4 mb-3">
          <input class="form-control" type="text" name="user" placeholder="username or email">
        </div>
        <div class="col-md-4 mb-3">
          <input class="form-control" type="password" name="password" placeholder="password">
        </div>
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
    </form>
</div>
{% endblock %}
