{% extends 'base.html' %}
{% block title %}
    | Login
{% endblock %}

{% block content %}
    <div class="container p-3">
        <h1>Enter the code below</h1>
        <div>
            <form method="POST" class="needs-validation">
                {% csrf_token %}
                <div class="col-md-4 mb-3">
                    <label for="validationCustomUsername">login code</label>
                    <div class="input-group">
                        <input name="code" type="number" class="form-control" id="validationCustomUsername" placeholder="12-555-3322" aria-describedby="inputGroupPrepend" required>
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-primary">ورود</button>
                </div>
            </form>
        </div>
    </div>
    <script>

    </script>
{% endblock %}